/*-----------------
-------------------
NAVBAR
-------------------
-----------------*/
#con {
    background-image: url("https://images.greenmangaming.com/601f91f4affe48e8b990515b8ef4879e/fa9e235406ca49d292a84813b7111fac.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
}
#logo {
    height: 200px;
    width: 350px;
    margin-top: 96px;
    margin-left: 195px;
}
.nav-item:hover {
    border-bottom: 1px solid transparent;
}
/*-----------------
-------------------
HOME
-------------------
-----------------*/
body {
    background-image:url('https://static1.squarespace.com/static/59b81f50c534a5c6ac83fae6/t/5a71085bc830258d3672023e/1517357148221/maxresdefault.jpg?format=2500w');
}
#solo1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#miniRow1 {
    margin-top: 15px;
}
#miniRow2 {
    margin-top: 50px;
}
img {
    height: 100px;
    width: 150px;
}
#card {
    margin-bottom: 100px;
}

#stats1 {
    margin-top: 50px;
    margin-bottom: 85px;
    color: white;
}
#button {
    height: 45px;
}
#check {
    margin-left: 185px;
}
#playerName {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 45px;
    height: 40px;
    width: 275px;
    border: 1px solid white;
    background: black;
    color: white;
    padding-left: 10px;
}
.searchBar {
    margin-left: 289px;
}
.gVr {
    font-weight: bold;
}
#button {
    height: 43px;
    width: 124px;
}
#player2Name {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 45px;
    height: 40px;
    width: 275px;
    border: 1px solid white;
    background: black;
    color: white;
    padding-left: 10px;
}
#graph {
    color: white;
    background: #2f1c5d;
}
#mini-body {
    background: #2f1c5d
}
#header {
    background: #2f1c5d;
    color: white;
    border-bottom: 1px solid white;
}
#deathHawk {
    font-size: 16px;
}
#oneVSone {
    margin-bottom: 15px;
    background:#2f1c5d;
    color: white;
    border: 1px solid white;
}
#twoVStwo {
    margin-bottom: 15px;
    background:#2f1c5d;
    color: white;
    border: 1px solid white;
}
#squadVSsquad {
    margin-bottom: 15px;
    background:#2f1c5d;
    color: white;
    border: 1px solid white;
}
#tinyOne {
    float:left;
}
#tinyTwo {
    float:right;
}
#mainOne {
    margin: 0, 15px;
}
#cardRowOne {
    margin-bottom: 60px;
}
#mainOne, #mainTwo, #mainThree, #mainFour, #mainFive, #mainSix, #mainSeven {
    border: 1px solid white;
    background: #231f2d;
    color: white;
}
#mainEight, #mainNine, #mainTen, #mainEleven, #mainTwelve, #mainThirteen, #mainFourteen {
    border: 1px solid white;
    background: #231f2d;
    color: white;
}
.list-group-item {
    border: 1px solid white;
}
#bigColumn {
    background: #2f1c5d;
    border: 1px solid white;
}
#gamerTag {
border-bottom: 1px solid white;
margin-bottom: 10px;
background: #2f1c5d;
color: white;
}
#GamerTAG {
    margin-left: 201px;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 1rem;
}
.STATS {
margin-top: 35px;
margin-bottom: 20px;
}
#gamer {
border-bottom: 1px solid white;
margin-bottom: 10px;
background: #2f1c5d;
color: white;
}
#TAG {
    margin-left: 201px;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 1rem;
}
#One, #Two, #Three, #Four, #Five, #Six, #Seven {
    border: 1px solid white;
    background: #231f2d;
    color: white;
}
#Eight, #Nine, #Ten, #Eleven, #Twelve, #Thirteen, #Fourteen {
    border: 1px solid white;
    background: #231f2d;
    color: white;
}
#pic {
height:100px;
background-image:url('https://scontent.cdninstagram.com/vp/eb8423f1cffa2d03b16ee602784992e6/5B1CC6CE/t51.2885-15/s320x320/e35/27581536_329193167593787_3508601802494836736_n.jpg');
background-size: cover;
}
#picture2 {
height:100px;
background-image:url('https://cdn.gamerant.com/wp-content/uploads/fortnite-season-3-battle-pass-skin.jpg.optimal.jpg');
background-size: cover;
}
/*-----------------
-------------------
 CONTACT
-------------------
-----------------*/
#hello {
    background: #5e576b;
}
#context {
    color: white;
}
#text {
    color: white;
}
#detailsbg {
    background: #473f5f;
    margin-bottom: 30px;
}
#contact {
    margin-top: 50px;
}
#contact, #settings, #home {

    font-size: 20px;
    color: white;
}
#scar, #sniper {
    height: 150px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*-----------------
-------------------
 FOOTER
-------------------
-----------------*/
#foot {
height: 200px;
color: white;
background-image:url('http://img.appledaily.com.tw/images/ReNews/20140607/640_9ee5fe019d8dea198111a1b9f7cc134f.jpg');
background-size: cover;
}
#copy {
    padding: 87px;
    margin-top: 124px;
    margin-left: 554px;
}

/*-----------------
-------------------
 ABOUT US
-------------------
-----------------*/
#hit{
    border-radius: 40%;
    border: 1px solid white;
}
#beerus{
    border-radius: 40%;
    border: 1px solid white;
}
#goku{
    border-radius: 40%;
    border: 1px solid white;
}

#chris{
    color: white;
}
#mike{
    color:white;
}
#brandon{
    color:white;
}
.mike{
    color: white;
    font-size: 14px;
    text-align: center;
}
.chris{
    color: white;
    font-size: 14px;
    text-align: center;
}
.brandon{
    color: white;
    font-size: 14px;
    text-align: center;
}
